{% extends "registration/base.html" %}
{% load i18n %}

{% block content %}
<h1>Pasahitza berrezarri</h1>
<p>
Zure pasahitza berresartzeko sartu zure email helbidea
</p>

<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}

{% block sidebar %}
{% endblock %}

{% comment %}
{% extends "registration/base.html" %}
{% block content %}
<h1>Pasahitza berrezarri</h1>
<p>
Zure pasahitza berresartzeko sartu zure email helbidea
</p>
<form action="{{request.path}}" method="POST">
   {% csrf_token %}
<p>
<label for="email">Zure eposta helbidea:</label>
   {{form.email}}
   </p>
<p>
<input type="submit" value="Bidali">
</p>
</form>
{% endblock %}

{% block sidebar %}
{% endblock %}
{% endcomment %}